.container {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerPrincipal-titulo img{
    height: 100px;
	margin: 2%;
	position: relative;
}

.headerPrincipal-titulo a{
	font-weight: bold;
	font-size: 2.5em;
    margin-bottom: 20px;
    text-decoration: none;
	color: inherit;
    display: block;
    color: #ffffff;
    font-family: 'Montserrat',Arial,sans-serif;
}


.headerPrincipal-nav {
    display: flex;
}

.headerPrincipal-nav-menu {
	padding: 10px;
	margin-bottom: 10px;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
	transition: .5s;
	display: block;
    font-weight: bold;
    font-family: 'Inter',Arial,sans-serif;
}

.headerPrincipal-nav-menu:hover{
    color: #e2a62d;
    text-decoration:  underline;
}