.contenidoPrincipal{
	width: 100%;
	padding: 10px 0;
}

.contenidoPrincipal div{
	display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenidoPrincipal .Portada{
	width: 99%;
	box-shadow: 6px 6px 6px #000000;
}

.contenidoPrincipal-subtitulo{
	font-family: 'Inter',Arial,sans-serif;
	margin: 40px;
	font-size: 40px;
}

.total{
	text-align: center;
	font-size: 40px;
	font-family: 'Inter',Arial,sans-serif;
}

.carritoContainer{
	text-align: center;
	margin: 2%;
	display: flex;
	font-family: "Nunito Sans", sans-serif;
}

.prueba{
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
}

.delete-product{
	font-size: 20px;
	cursor:pointer;
	color: #e2a62d;
	border: 1px #e2a62d;
	border-radius: 4px;
	transition: all 400ms ease;
	padding: 4px;
}

.delete-product:hover{
	color: #ffffff;
	background: #e2a62d;
}